RewriteEngine On


RewriteCond %{HTTP:Accept-Language} ^it.*$ [NC]
RewriteRule ^$ /it/ [L,R=301]

RewriteRule ^$ /de/ [L,R=301]


RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule !.*\.html$ %{REQUEST_FILENAME}.html

RewriteRule !^current/ /current%{REQUEST_URI}  [L]
