<!-- Header -->
<header id="header" class="alt">
    <h1><a href="index.html">Parjöhlerhof</a> Urlaub auf dem Bauernhof</h1>
    <nav id="nav">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="wohnungen.html">Wohnungen</a></li>
            <li><a href="aktivitaeten.html">Aktivitäten</a></li>
            <li><a href="anfahrt.html">Anfahrt</a></li>
            <li><a href="mailto:parjoehlerhof@bb44.it" class="button">Kontakt</a></li>
        </ul>
    </nav>
</header>
