<!DOCTYPE HTML>
<html>
	<head>
		<title>Parjöhlerhof - Urlaub auf dem Bauernhof</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="../assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="../assets/css/ie8.css" /><![endif]-->
		<link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
	</head>
	<body class="landing">
		<div id="page-wrapper">

			@@include('./_header.html')

			<!-- Banner -->
				<section id="banner">
				    <h2>Wohnungen</h2>
				    <p>unsere Wohnungen</p>
				</section>

			<!-- Main -->
				<section id="main" class="container">

					<section class="box">
						<h2>Für jeden Geschmack etwas</h2>
						<p>Es stehen 3 verschiedene Wohnungen zur Verfügung.</p>

						<h3>Wohnung Panorama</h3>
						<p>Für 1 - 2 Personen. Preis pro Tag 40€ - 44€.</p>

						@@include('../_panoramagallery.html')

						<h3>Wohnung Bergblick</h3>
						<p>Für 2 - 4 Personen. Preis pro Tag 46€ für 2 Personen, jede weitere Person 10€.</p>

						@@include('../_panoramagallery.html')

						<h3>Wohnung Waldruhe</h3>
						<p>Für 2 - 4 Personen. Preis pro Tag 42€ für 2 Personen, jede weitere Person 10€.</p>

						@@include('../_panoramagallery.html')

					</section>

				</section>

			@@include('./_footer.html')

		</div>

		@@include('../_photoswipe.html')

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.dropotron.min.js"></script>
			<script src="../assets/js/jquery.scrollgress.min.js"></script>
			<script src="../assets/js/skel.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="../assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../assets/js/main.js"></script>

	</body>
</html>
