<!-- Header -->
<header id="header" class="alt">
    <h1><a href="index.html">Parjöhlerhof</a> Agriturismo a Villandro</h1>
    <nav id="nav">
        <ul>
            <li><a href="index.html">home</a></li>
            <li><a href="appartamenti.html">appartamenti</a></li>
            <li><a href="attivita.html">attivita</a></li>
            <li><a href="tragitto.html">tragitto</a></li>
            <li><a href="mailto:parjoehlerhof@bb44.it" class="button">contatto</a></li>
        </ul>
    </nav>
</header>

<!-- Banner -->
<section id="banner">
    <h2>Parjöhlerhof</h2>
    <p>Agriturismo authentico a Villandero - Sudtirolo</p>
</section>
