<!DOCTYPE HTML>
<html>
	<head>
		<title>Parjöhlerhof - Urlaub auf dem Bauernhof</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="../assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="../assets/css/ie8.css" /><![endif]-->
		<link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
	</head>
	<body class="landing">
		<div id="page-wrapper">

			@@include('./_header.html')

			<!-- Banner -->
				<section id="banner">
				    <h2>Appartamenti</h2>
				    <p>i nostri appartamenti</p>
				</section>


			<!-- Main -->
				<section id="main" class="container">

					<section class="box">
						<h2>Für jeden Geschmack etwas</h2>
						<p>Disponiamo di 2 diverse grandezze di appartamenti.</p>

						<h3>appartamento Panorama</h3>
						<p>Da 1 a 2 persone. Prezzo giornaliero a 40€ - 44€.</p>

						<span class="image featured"><img src="../images/pic01.jpg" alt="" /></span>

						<h3>Appartamento Bergblick</h3>
						<p>Da 2 a 4 persone. Prezzo giornaliero per 2 persone 46€, per ogni persona in piu 10€.</p>

						<span class="image featured"><img src="../images/pic02.jpg" alt="" /></span>

						<h3>Appartamento Waldruhe</h3>
						<p>Da 2 a 4 persone. Prezzo giornaliero per 2 persone 42€, per ogni persona in piu 10€.</p>

						<span class="image featured"><img src="../images/pic02.jpg" alt="" /></span>

					</section>

				</section>

			@@include('./_footer.html')

		</div>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.dropotron.min.js"></script>
			<script src="../assets/js/jquery.scrollgress.min.js"></script>
			<script src="../assets/js/skel.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="../assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../assets/js/main.js"></script>

	</body>
</html>
