<!DOCTYPE HTML>
<html>
	<head>
		<title>Parjöhlerhof - Urlaub auf dem Bauernhof</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="../assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="../assets/css/ie8.css" /><![endif]-->
		<link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
	</head>
	<body class="landing">
		<div id="page-wrapper">

			@@include('./_header.html')

			<!-- Banner -->
				<section id="banner">
				    <h2>Parjöhlerhof</h2>
				    <p>Agriturismo authentico a Villandero - Sudtirolo</p>
				</section>


			<!-- Main -->
				<section id="main" class="container">

					<section class="box">
						<h2>Agriturismo a Villandro, Alto Adige</h2>
						<p>Il maso, situato a 1370 metri di altezza nel paese di Villandro è gestito con impegno e gioia dalla famiglia Fink. Il tradizionale maso, circondato da prati e boschi è dunque il posto ideale per sfuggire allo stress quotidiano ed immergersi nella semplicità della vita. Disponiamo di 2 diverse grandezze di appartamenti. Il primo per 2 persone, il secondo da 2 a 4 persone.</p>

						<span class="image featured"><img src="../images/pic01.jpg" alt="" /></span>


						<p>Una vacanza al maso Vi offre varie possibilità come passare al meglio la vostra permanenza. Potrete immedesimarvi nella vita quotidiana del contadino stando a diretto contatto con gli animali e la natura, inoltre propone cultura, visitando le cittá circostanti, e suggestive passeggiate nella favolosa natura dell’ Alto Adige.</p>

						<span class="image featured"><img src="../images/pic02.jpg" alt="" /></span>

						<p> Il Maso Parjählerhof è punto di partenza per sorprendenti passeggiate tra i vigneti o nel centro storico del paese. Inoltre c è la poosibilitá di escursione alla malga di Villandro. Per gli amanti della cultura non puó mancare una visita alla cittadina d’arte di Chiusa, la cittá di Bressanone con sede vescovile e il capoluogo altoatesino Bolzano.</p>
					</section>

				</section>

			@@include('./_footer.html')

		</div>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.dropotron.min.js"></script>
			<script src="../assets/js/jquery.scrollgress.min.js"></script>
			<script src="../assets/js/skel.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="../assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../assets/js/main.js"></script>

	</body>
</html>
