<header id="header" class="alt">
    <h1><a href="index.html">${{ header.bold }}$</a> ${{ header.text }}$</h1>
    <nav id="nav">
        <ul>
            <li><a href="index.html">${{ menu.home }}$</a></li>
            <li><a href="appartments.html">${{ menu.appartments }}$</a></li>
            <li><a href="activities.html">${{ menu.activities }}$</a></li>
            <li><a href="drive.html">${{ menu.drive }}$</a></li>
            <li><a href="mailto:parjoehlerhof@bb44.it" class="button">${{ menu.contact }}$</a></li>
        </ul>
    </nav>
</header>
