<div class="my-gallery row" itemscope itemtype="http://schema.org/ImageGallery">

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="../images/appartments/panorama/living_4.jpg" itemprop="contentUrl" data-size="1500x1000">
            <img src="../images/appartments/panorama/thumbnails/living_4.jpg" itemprop="thumbnail" alt="living room of panorama appartment" />
        </a>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="../images/appartments/panorama/bed_2.jpg" itemprop="contentUrl" data-size="1500x1000">
            <img src="../images/appartments/panorama/thumbnails/bed_2.jpg" itemprop="thumbnail" alt="bed of panorama appartment" />
        </a>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="../images/appartments/panorama/bath_1.jpg" itemprop="contentUrl" data-size="1500x1000">
            <img src="../images/appartments/panorama/thumbnails/bath_1.jpg" itemprop="thumbnail" alt="bath room of panorama appartment" />
        </a>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="../images/appartments/panorama/bath_2.jpg" itemprop="contentUrl" data-size="1500x1000">
            <img src="../images/appartments/panorama/thumbnails/bath_2.jpg" itemprop="thumbnail" alt="bath room of panorama appartment" />
        </a>
    </figure>
</div>
