<!DOCTYPE HTML>
<html>

	<head>
	    <title>Parjöhlerhof - ${{ activities.name }}$</title>

		@@include('_import_head.html')

	</head>


	<body class="landing">
		<div id="page-wrapper">

			@@include('_header.html')

			<!-- Banner -->
				<section id="banner">
				    <h2>${{ activities.name }}$</h2>
				    <p>${{ activities.subheading }}$</p>
				</section>

			<!-- Main -->
				<section id="main" class="container">

					<section class="box">
						<h2>${{ activities.heading }}$</h2>

						<h3>${{ activities.alp_heading }}$</h3>
						<span class="image fit"><img src="../images/alp_4.jpg" alt="" /></span>
						<p>${{ activities.alp_text_1 }}$</p>

						<span class="image fit"><img src="../images/alp_17.jpg" alt="" /></span>

						<p>${{ activities.alp_text_2 }}$</p>

						<h3>${{ activities.village_heading }}$</h3>
						<p>${{ activities.village_text }}$</p>
						<span class="image fit"><img src="../images/village_2.jpg" alt="" /></span>

						<h3>${{ activities.mine_heading }}$</h3>
						<span class="image fit"><img src="../images/mine_1.jpg" alt="" /></span>
						<p>${{ activities.mine_text }}$</p>

						<h3>${{ activities.cities_heading }}$</h3>
						<p>${{ activities.cities_text }}$</p>

						<h4>${{ activities.rest }}$</h4>

						<ul>
							${{ activities.rest_text }}$
						</ul>

					</section>

				</section>

			@@include('_footer.html')

		</div>

		@@include('_import_footer.html')

	</body>
</html>
