<!DOCTYPE HTML>
<html>

	<head>
	    <title>Parjöhlerhof - ${{ activities.name }}$</title>
	    <meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1" />
    	<!--[if lte IE 8]><script src="../assets/js/ie/html5shiv.js"></script><![endif]-->
    	<link rel="stylesheet" href="../assets/css/main.css" />
    	<!--[if lte IE 8]><link rel="stylesheet" href="../assets/css/ie8.css" /><![endif]-->
	</head>


	<body class="landing">
		<div id="page-wrapper">

			@@include('_header.html')

			<!-- Banner -->
				<section id="banner">
				    <h2>${{ activities.name }}$</h2>
				    <p>${{ activities.subheading }}$</p>
				</section>

			<!-- Main -->
				<section id="main" class="container">

					<section class="box">
						<h2>${{ activities.heading }}$</h2>

						<h3>${{ activities.alp_heading }}$</h3>
						<span class="image fit"><img src="../images/alp_4.jpg" alt="" /></span>
						<p>${{ activities.alp_text_1 }}$</p>

						<span class="image fit"><img src="../images/alp_17.jpg" alt="" /></span>

						<p>${{ activities.alp_text_2 }}$</p>

						<h3>${{ activities.village_heading }}$</h3>
						<p>${{ activities.village_text }}$</p>
						<span class="image fit"><img src="../images/village_2.jpg" alt="" /></span>

						<h3>${{ activities.mine_heading }}$</h3>
						<span class="image fit"><img src="../images/mine_1.jpg" alt="" /></span>
						<p>${{ activities.mine_text }}$</p>

						<h3>${{ activities.cities_heading }}$</h3>
						<p>${{ activities.cities_text }}$</p>

					</section>

				</section>

			@@include('_footer.html')

		</div>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.dropotron.min.js"></script>
			<script src="../assets/js/jquery.scrollgress.min.js"></script>
			<script src="../assets/js/skel.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="../assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../assets/js/main.js"></script>

	</body>
</html>
