<!DOCTYPE HTML>
<html lang="${{ general.lang }}$">
	<head>
	    <title>Parjöhlerhof - ${{ activities.name }}$</title>

		@@include('_import_head.html')

	</head>


	<body class="landing">
		<div id="page-wrapper">

			@@include('_header.html')

			<!-- Banner -->
				<section id="banner">
				    <h2>${{ activities.name }}$</h2>
				    <p>${{ activities.subheading }}$</p>
				</section>

			<!-- Main -->
				<section id="main" class="container">

					<section class="box">
						<h2>${{ activities.heading }}$</h2>

						<h3>${{ activities.alp_heading }}$</h3>
						<span class="image fit"><img
														srcset="
															../images/alp_4_320.jpg 320w,
															../images/alp_4_375.jpg 375w,
															../images/alp_4_425.jpg 425w,
															../images/alp_4_690.jpg 690w,
															../images/alp_4_730.jpg 730w,
															../images/alp_4_870.jpg 870w,
															../images/alp_4_1070.jpg 1070w,
															../images/alp_4_1500.jpg 1500w,"
														sizes="
															(min-width: 980px) 42em,
															(min-width: 840) calc(0.9 * 100vw - 6em),
															(min-width: 736px) calc(0.9 * 100vw - 4em),
															(min-width: 480) calc(100vw - 6em),
															100vw - 2em"
														src="../images/alp_4_1070.jpg" alt="" /></span>
						<p>${{ activities.alp_text_1 }}$</p>

						<span class="image fit"><img
														srcset="
															../images/alp_17_320.jpg 320w,
															../images/alp_17_375.jpg 375w,
															../images/alp_17_425.jpg 425w,
															../images/alp_17_690.jpg 690w,
															../images/alp_17_730.jpg 730w,
															../images/alp_17_870.jpg 870w,
															../images/alp_17_1070.jpg 1070w,
															../images/alp_17_1500.jpg 1500w,"
														sizes="
															(min-width: 980px) 42em,
															(min-width: 840) calc(0.9 * 100vw - 6em),
															(min-width: 736px) calc(0.9 * 100vw - 4em),
															(min-width: 480) calc(100vw - 6em),
															100vw - 2em"
														src="../images/alp_17_1070.jpg" alt="" /></span>

						<p>${{ activities.alp_text_2 }}$</p>

						<h3>${{ activities.village_heading }}$</h3>
						<p>${{ activities.village_text }}$</p>
						<span class="image fit"><img
														srcset="
															../images/village_2_320.jpg 320w,
															../images/village_2_375.jpg 375w,
															../images/village_2_425.jpg 425w,
															../images/village_2_690.jpg 690w,
															../images/village_2_730.jpg 730w,
															../images/village_2_870.jpg 870w,
															../images/village_2_1070.jpg 1070w,
															../images/village_2_1500.jpg 1500w,"
														sizes="
															(min-width: 980px) 42em,
															(min-width: 840) calc(0.9 * 100vw - 6em),
															(min-width: 736px) calc(0.9 * 100vw - 4em),
															(min-width: 480) calc(100vw - 6em),
															100vw - 2em"
														src="../images/village_2_1070.jpg" alt="" /></span>

						<h3>${{ activities.mine_heading }}$</h3>
						<span class="image fit"><img
														srcset="
															../images/mine_1_320.jpg 320w,
															../images/mine_1_375.jpg 375w,
															../images/mine_1_425.jpg 425w,
															../images/mine_1_690.jpg 690w,
															../images/mine_1_730.jpg 730w,
															../images/mine_1_870.jpg 870w,
															../images/mine_1_1070.jpg 1070w,
															../images/mine_1_1500.jpg 1500w,"
														sizes="
															(min-width: 980px) 42em,
															(min-width: 840) calc(0.9 * 100vw - 6em),
															(min-width: 736px) calc(0.9 * 100vw - 4em),
															(min-width: 480) calc(100vw - 6em),
															100vw - 2em"
														src="../images/mine_1_1070.jpg" alt="" /></span>
						<p>${{ activities.mine_text }}$</p>

						<h3>${{ activities.cities_heading }}$</h3>
						<p>${{ activities.cities_text }}$</p>

						<h4>${{ activities.rest }}$</h4>

						<ul>
							${{ activities.rest_text }}$
						</ul>

					</section>

				</section>

			@@include('_footer.html')

		</div>

		@@include('_import_footer.html')

	</body>
</html>
