<!DOCTYPE HTML>
<html>
	<head>
		<title>Parjöhlerhof - ${{ appartments.name }}$</title>

		@@include('_import_head.html')

	</head>
	<body class="landing">
		<div id="page-wrapper">

			@@include('_header.html')

			<!-- Banner -->
				<section id="banner">
				    <h2>${{ appartments.name }}$</h2>
				    <p>${{ appartments.subheading }}$</p>
				</section>

			<!-- Main -->
				<section id="main" class="container">

					<section class="box">
						<h2>${{ appartments.heading }}$</h2>
						<p>${{ appartments.text }}$</p>

						<h3>${{ appartments.heading_panorama}}$ </h3>
						<p>${{ appartments.text_panorama }}$</p>
						<p>${{ appartments.price_panorama }}$</p>


						<div class="my-gallery row" itemscope itemtype="http://schema.org/ImageGallery">
						    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
						        <a href="../images/appartments/panorama/living_4.jpg" itemprop="contentUrl" data-size="1500x1000">
						            <img srcset="
													../images/appartments/panorama/living_4_480.jpg 480w,
													../images/appartments/panorama/living_4_736.jpg 736w,
													../images/appartments/panorama/living_4_840.jpg 840w,
													../images/appartments/panorama/living_4_980.jpg 980w,
													../images/appartments/panorama/living_4_1280.jpg 1280w,
													../images/appartments/panorama/living_4_1500.jpg 1500w"
											sizes="100vw" src="../images/appartments/panorama/thumbnails/living_4.jpg" itemprop="thumbnail" alt="${{ appartments.alt_living_panorama }}$" />
						        </a>
						    </figure>

						    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
						        <a href="../images/appartments/panorama/bed_2.jpg" itemprop="contentUrl" data-size="1500x1000">
						            <img srcset="
													../images/appartments/panorama/bed_2_480.jpg 480w,
													../images/appartments/panorama/bed_2_736.jpg 736w,
													../images/appartments/panorama/bed_2_840.jpg 840w,
													../images/appartments/panorama/bed_2_980.jpg 980w,
													../images/appartments/panorama/bed_2_1280.jpg 1280w,
													../images/appartments/panorama/bed_2_1500.jpg 1500w"
											sizes="100vw" src="../images/appartments/panorama/thumbnails/bed_2.jpg" itemprop="thumbnail" alt="${{ appartments.alt_bed_panorama }}$" />
						        </a>
						    </figure>

						    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
						        <a href="../images/appartments/panorama/bath_1.jpg" itemprop="contentUrl" data-size="1500x1000">
						            <img srcset="
													../images/appartments/panorama/bath_1_480.jpg 480w,
													../images/appartments/panorama/bath_1_736.jpg 736w,
													../images/appartments/panorama/bath_1_840.jpg 840w,
													../images/appartments/panorama/bath_1_980.jpg 980w,
													../images/appartments/panorama/bath_1_1280.jpg 1280w,
													../images/appartments/panorama/bath_1_1500.jpg 1500w"
											sizes="100vw" src="../images/appartments/panorama/thumbnails/bath_1.jpg" itemprop="thumbnail" alt="${{ appartments.alt_bath_panorama }}$" />
						        </a>
						    </figure>

						    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
						        <a href="../images/appartments/panorama/bath_2.jpg" itemprop="contentUrl" data-size="1500x1000">
						            <img srcset="
													../images/appartments/panorama/bath_2_480.jpg 480w,
													../images/appartments/panorama/bath_2_736.jpg 736w,
													../images/appartments/panorama/bath_2_840.jpg 840w,
													../images/appartments/panorama/bath_2_980.jpg 980w,
													../images/appartments/panorama/bath_2_1280.jpg 1280w,
													../images/appartments/panorama/bath_2_1500.jpg 1500w"
											sizes="100vw" src="../images/appartments/panorama/thumbnails/bath_2.jpg" itemprop="thumbnail" alt="${{ appartments.alt_bath_panorama }}$" />
						        </a>
						    </figure>
						</div>

						<h3>${{ appartments.heading_bergblick }}$</h3>
						<p>${{ appartments.text_bergblick }}$</p>
						<p>${{ appartments.price_bergblick }}$</p>

						<div class="my-gallery row" itemscope itemtype="http://schema.org/ImageGallery">
						    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
						        <a href="../images/appartments/bergblick/living_1.jpg" itemprop="contentUrl" data-size="1500x1000">
						            <img srcset="
													../images/appartments/bergblick/living_1_480.jpg 480w,
													../images/appartments/bergblick/living_1_736.jpg 736w,
													../images/appartments/bergblick/living_1_840.jpg 840w,
													../images/appartments/bergblick/living_1_980.jpg 980w,
													../images/appartments/bergblick/living_1_1280.jpg 1280w,
													../images/appartments/bergblick/living_1_1500.jpg 1500w"
											sizes="100vw" src="../images/appartments/bergblick/thumbnails/living_1_1280.jpg" itemprop="thumbnail" alt="${{ appartments.alt_living_bergblick }}$" />
						        </a>
						    </figure>

						    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
						        <a href="../images/appartments/bergblick/living_2.jpg" itemprop="contentUrl" data-size="1500x1000">
						            <img srcset="
													../images/appartments/bergblick/living_2_480.jpg 480w,
													../images/appartments/bergblick/living_2_736.jpg 736w,
													../images/appartments/bergblick/living_2_840.jpg 840w,
													../images/appartments/bergblick/living_2_980.jpg 980w,
													../images/appartments/bergblick/living_2_1280.jpg 1280w,
													../images/appartments/bergblick/living_2_1500.jpg 1500w"
											sizes="100vw" src="../images/appartments/bergblick/thumbnails/living_2_1280.jpg" itemprop="thumbnail" alt="${{ appartments.alt_living_bergblick }}$" />
						        </a>
						    </figure>

						    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
						        <a href="../images/appartments/bergblick/bed_1.jpg" itemprop="contentUrl" data-size="1500x1000">
						            <img srcset="
													../images/appartments/bergblick/bed_1_480.jpg 480w,
													../images/appartments/bergblick/bed_1_736.jpg 736w,
													../images/appartments/bergblick/bed_1_840.jpg 840w,
													../images/appartments/bergblick/bed_1_980.jpg 980w,
													../images/appartments/bergblick/bed_1_1280.jpg 1280w,
													../images/appartments/bergblick/bed_1_1500.jpg 1500w"
											sizes="100vw" src="../images/appartments/bergblick/thumbnails/bed_1_1280.jpg" itemprop="thumbnail" alt="${{ appartments.alt_bed_bergblick }}$" />
						        </a>
						    </figure>

						    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
						        <a href="../images/appartments/bergblick/bath_2.jpg" itemprop="contentUrl" data-size="1500x1000">
						            <img srcset="
													../images/appartments/bergblick/bath_2_480.jpg 480w,
													../images/appartments/bergblick/bath_2_736.jpg 736w,
													../images/appartments/bergblick/bath_2_840.jpg 840w,
													../images/appartments/bergblick/bath_2_980.jpg 980w,
													../images/appartments/bergblick/bath_2_1280.jpg 1280w,
													../images/appartments/bergblick/bath_2_1500.jpg 1500w"
											sizes="100vw" src="../images/appartments/bergblick/thumbnails/bath_2_1280.jpg" itemprop="thumbnail" alt="${{ appartments.alt_bath_bergblick }}$" />
						        </a>
						    </figure>
						</div>

						<h3>${{ appartments.heading_waldruhe }}$</h3>
						<p>${{ appartments.text_waldruhe }}$</p>
						<p>${{ appartments.price_waldruhe }}$</p>

						<div class="my-gallery row" itemscope itemtype="http://schema.org/ImageGallery">
						    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
						        <a href="../images/appartments/waldruhe/living_3.jpg" itemprop="contentUrl" data-size="1500x1000">
						            <img srcset="
													../images/appartments/waldruhe/living_3_480.jpg 480w,
													../images/appartments/waldruhe/living_3_736.jpg 736w,
													../images/appartments/waldruhe/living_3_840.jpg 840w,
													../images/appartments/waldruhe/living_3_980.jpg 980w,
													../images/appartments/waldruhe/living_3_1280.jpg 1280w,
													../images/appartments/waldruhe/living_3_1500.jpg 1500w"
											sizes="100vw" src="../images/appartments/waldruhe/thumbnails/living_3.jpg" itemprop="thumbnail" alt="${{ appartments.alt_living_waldruhe }}$" />
						        </a>
						    </figure>

						    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
						        <a href="../images/appartments/waldruhe/bed_1.jpg" itemprop="contentUrl" data-size="1500x1000">
						            <img srcset="
													../images/appartments/waldruhe/bed_1_480.jpg 480w,
													../images/appartments/waldruhe/bed_1_736.jpg 736w,
													../images/appartments/waldruhe/bed_1_840.jpg 840w,
													../images/appartments/waldruhe/bed_1_980.jpg 980w,
													../images/appartments/waldruhe/bed_1_1280.jpg 1280w,
													../images/appartments/waldruhe/bed_1_1500.jpg 1500w"
											sizes="100vw" src="../images/appartments/waldruhe/thumbnails/bed_1.jpg" itemprop="thumbnail" alt="${{ appartments.alt_bed_waldruhe }}$" />
						        </a>
						    </figure>

						    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
						        <a href="../images/appartments/waldruhe/bed_4.jpg" itemprop="contentUrl" data-size="1500x1000">
						            <img srcset="
													../images/appartments/waldruhe/bed_4_480.jpg 480w,
													../images/appartments/waldruhe/bed_4_736.jpg 736w,
													../images/appartments/waldruhe/bed_4_840.jpg 840w,
													../images/appartments/waldruhe/bed_4_980.jpg 980w,
													../images/appartments/waldruhe/bed_4_1280.jpg 1280w,
													../images/appartments/waldruhe/bed_4_1500.jpg 1500w"
											sizes="100vw" src="../images/appartments/waldruhe/thumbnails/bed_4.jpg" itemprop="thumbnail" alt="${{ appartments.alt_bath_waldruhe }}$" />
						        </a>
						    </figure>

						    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
						        <a href="../images/appartments/waldruhe/bath_1.jpg" itemprop="contentUrl" data-size="1500x1000">
						            <img srcset="
													../images/appartments/waldruhe/bath_1_480.jpg 480w,
													../images/appartments/waldruhe/bath_1_736.jpg 736w,
													../images/appartments/waldruhe/bath_1_840.jpg 840w,
													../images/appartments/waldruhe/bath_1_980.jpg 980w,
													../images/appartments/waldruhe/bath_1_1280.jpg 1280w,
													../images/appartments/waldruhe/bath_1_1500.jpg 1500w"
											sizes="100vw" src="../images/appartments/waldruhe/thumbnails/bath_1.jpg" itemprop="thumbnail" alt="${{ appartments.alt_bath_waldruhe }}$" />
						        </a>
						    </figure>
						</div>
					</section>

				</section>

			@@include('_footer.html')

		</div>

		@@include('_photoswipe.html')

		@@include('_import_footer.html')

	</body>
</html>
