<!DOCTYPE HTML>
<html>
	<head>
		<title>Parjöhlerhof - ${{ index.title }}$</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="../assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="../assets/css/ie8.css" /><![endif]-->
		<link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
	</head>
	<body class="landing">
		<div id="page-wrapper">

			<!-- Header -->
				@@include('_header.html')

			<!-- Banner -->
				<section id="banner" class="big">
				    <h2>${{ index.banner }}$</h2>
				    <p>${{ index.subheading }}$</p>
				</section>


			<!-- Main -->
				<section id="main" class="container">

					<section class="box">
						<h2>${{ index.heading2 }}$</h2>
						<p>${{ index.text_1 }}$</p>

						<span class="image featured"><img src="../images/farm.jpg" alt="" /></span>

						<p>${{ index.text_2 }}$</p>

						<span class="image featured"><img src="../images/alp_4.jpg" alt="" /></span>

						<p>${{ index.text_3 }}$</p>
					</section>

				</section>

			@@include('_footer.html')

		</div>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.dropotron.min.js"></script>
			<script src="../assets/js/jquery.scrollgress.min.js"></script>
			<script src="../assets/js/skel.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="../assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../assets/js/main.js"></script>

	</body>
</html>
